<title>My Messages</title>

<h1>My Messages</h1>
<div class="transbox">
  <% if current_admin %>
    <%= render "messages" %>
  <% else %>
    <p>You are not authorized to view this information!</p>
  <% end %>
</div>