<title>About Me & Contact Information</title>

<h1>About Me & Contact Information</h1>

<div class="transbox">
	<%= render "profile_pic" %>
	<div align="left">
		<br />
		<p> • Education: Attended San Jose State University majoring in Software Engineering</p>
		<p> • Experienced programming languages: Java & Ruby</p>
		<p> • Familiar with programming languages: Javascript & HTML</p>
		<p> • Experience working with Ruby on Rails</p>
		<p> • Experience in working with both Windows and Apple computers</p>
		<p> • In depth knowledge of Microsoft Office software's: Microsoft Word, Excel, Powerpoint</p>
	</div>

	<h1>Contact Information</h1>
	<p>Email: earlsabal@gmail.com</p>
	<p>Or leave me a message with your name, email, and message</p>
	<%= render "form" %>
	<%= render "linkedin" %><br />
</div>