<title>About Me & Contact Information</title>

<h1>About Me & Contact Information</h1>

<div class="transbox">
	<%= render "profile_pic" %>
	<h1>Contact Information</h1>
	<p>Email: earlsabal@gmail.com</p>
	<p>Or leave me a message with your name, email, and message</p>
	<%= render "form" %>
</div>