<title>About Me & Contact Information</title>
<h1>About Me & Contact Information</h1>

<div class="transbox">
	<%= image_tag("Profile Pic.jpg", size: '240x240') %>

	<h1>Contact Information</h1>
	<p>Email: earlsabal@gmail.com</p>
</div>