<!DOCTYPE html>
<html lang= "en">

<head>
  <title>Earl Sabal's Webpage</title>
  <%= render "layouts/cover" %>
</head>

<body>
  <h1>My Webpage</h1>
  <%= render "layouts/cover_layout" %>
</body>

</html>