<title>Edit Post</title>
<div class="transbox">
	<% if current_admin %>
		<h1><%= "Editing #{@post.title}" %></h1>
		<%= render "form" %>
	<% else %>
			<p>You are not authorized to edit or delete posts on this website</p>
	<%= end %>
</div>