<h1>My Webpage</h1>

<% @posts.each do |post| %>
  <div>
    <%= post.title %>
    <%= post.body %>
  </div>
<% end %>

<%= will_paginate @posts %>

<p>
  Admin actions: <%= link_to 'New Post', new_post_path %>
</p>