<title>My Projects</title>

<h1>My Projects</h1>

<div class="transbox">
  <% @posts.each do |post| %>
    <div class="row">
      <h2><%= link_to (post.title), post_path(post) %></h2>
      <p>
        <%= simple_format(truncate(post.body, length: 20)) %>
      </p>
    </div>
  <% end %>

  <%= will_paginate @comments %>

  <% if current_admin %>
    <p>
      Admin actions: <%= link_to 'New Post', new_post_path %>
    </p>
  <% end %>
</div>