<title>New Post</title>

<div class="transbox">
	<% if current_admin %>
		<h1>Write your new post</h1>
		<%= render "form" %>
	<% else %>
		<p>You are not authorized to post on this website</p>
	<% end %>
</div>