<!DOCTYPE html>
<html lang= "en">
<head>
  <%= render "layouts/meta_tags" %>
  <%= render "layouts/flash_msg" %>

  <title>Earl Sabal's Webpage</title>

</head>
<body>




<%= yield %>

 
    


<%= render "layouts/javascript" %>

</body>


</html>
